.container {
  width: 100%;

  .content {
    display: flex;

    &>div {
      flex-basis: 50%;
      height: 100vh;
      padding-top: 10px;
    }

    .searchInput {
      margin-top: 13px;
      padding-left: 10px;
      width: 75%;
      height: 35px;
      border-radius: 5px;
      border: 1px solid darkgray;
      opacity: 0.9;

      &::placeholder {
        font-style: italic;
      }
    }

    .userList {
      margin-top: 18px;
      margin-right: 10px;
      margin-bottom: 20px;
      height: 75vh;
      background-color: rgb(232, 232, 232);
    }
  }
}


.infoContent {
  margin-top: 5px;
  position: relative;
  height: 96vh;

  .clearInput {
    float: right;
    margin-right: 10%;
    margin-top: 28px;
    padding: 3.5px 7px;
    font-size: 11px;
    font-weight: 500;
    border: 1px solid rgb(135, 135, 135);
    border-radius: 5px;
    color: rgb(56, 56, 56);
    background-color: rgb(238, 238, 238);
    cursor: pointer;

    &:hover {
      box-shadow: 0.5px 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .list {
    margin-top: 60px;

    .item {
      justify-content: center;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }

    .lastItem {
      justify-content: center;
      display: flex;
      align-items: center;
    }

    .labels {
      width: 30%;
      font-size: 15px;
      margin-top: 2px;
    }
  }
}

.buttons {
  // width: 38%;
  width: 50%;
  // height: 25px;
  height: 33px;
  border-radius: 5px;
  border: 1px solid darkgray;
  opacity: 0.9;
  padding-left: 8px;
  font-size: 15px;
  background-color: white;
  cursor: pointer;

  &:hover {
    background-color: rgb(246, 246, 246);
    font-weight: 450;
    box-shadow: 0.5px 0.5px 1px 0 rgba(0, 0, 0, 0.2);
  }
}

.toCategory {
  width: 30%;
  font-size: 15px;
  margin-top: 2px;
  cursor: pointer;
  text-decoration: underline;
  color: midnightblue;
  text-underline-position: under;

  &:hover {
    color: gray;
  }
}

.option {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 33px;
  border-radius: 5px;
  border: 1px solid darkgray;
  opacity: 0.9;
  padding-left: 8px;
  font-size: 14px;
}

.categoryItem {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.dataInput {
  width: 50%;
  height: 33px;
  border-radius: 5px;
  border: 1px solid darkgray;
  opacity: 0.9;
  padding-left: 8px;
  font-size: 14px;
}

.shortInput {
  width: 33%;
  height: 33px;
  border-radius: 5px;
  border: 1px solid darkgray;
  opacity: 0.9;
  padding-left: 8px;
  margin-right: 5%;
  font-size: 14px;
}

.buttonList {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

button {
  position: static;
}

.dataRow {
  cursor: pointer;

  &:hover {
    background-color: rgb(215, 215, 215)
  }
}

.noResult {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%
}

.cutText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 70px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
