.list {
  margin-top: 40px;
  display: flex;
  gap: 30px;

  .item {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 31.5px;

    &:nth-child(5) {
      align-items: flex-start;
    }
  }

  .labels {
    width: 100%;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
}

.dataInput {
  width: 90%;
  height: 33px;
  border-radius: 5px;
  border: 1px solid darkgray;
  opacity: 0.9;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
}

.hasError {
  width: 50%;
  height: 33px;
  border-radius: 5px;
  border: 1.5px solid darkgray;
  opacity: 0.9;
  padding-left: 8px;
  font-size: 14px;
  border-color: crimson;
  background-color: rgb(245, 211, 211);
}
