.modal_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 20px;

  .memo {
    width: 100%;
    border: none;
    padding: 10px;
  }

  button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
  }
}
