.modal_container {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 25%;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 20px;
}
