.label {
  display: flex;
  justify-content: center;
  margin-top: 17px;
  margin-bottom: 20px;
}

.pwContainer {
  display: flex;
  justify-content: center;
}

.pwInput {
  padding-left: 10px;
  width: 70%;
  height: 32px;
  border-radius: 5px;
  border: 1px solid darkgray;
  opacity: 0.9;

  &::placeholder {
    font-style: italic;
  }
}

.errorMessage {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 13px;
  color: crimson;

}

// .confirmBtn {
//   float: right;
//   margin-top: 30px;
//   margin-right: 30px;
// }
