.label {
  display: flex;
  justify-content: center;
  margin-top: 14px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 450;
}

.pwContainer {
  display: flex;
  justify-content: center;
}

.pwInput {
  padding-left: 10px;
  width: 90%;
  height: 32px;
  border-radius: 5px;
  border: 1px solid darkgray;
  opacity: 0.9;
  background-color: #faf7f7;

  &::placeholder {
    font-style: italic;
  }
}

.errorMessage {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 13px;
  color: crimson;
}

.deleteButton {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 13px;
  font-size: 15px;
  width: 90%;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid lightgray;
  color: crimson;
  font-weight: 500;
  background-color: rgb(248, 248, 248);
  transition: background-color 300ms ease-out 10ms;

  &:hover:enabled {
    color: white;
    background-color: rgb(213, 34, 34);
    border: none;
  }
}
