.bar {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 30px;
  width: 90px;
  height: 100vh;
  background-color: #f1f1f1;

  .content {
    // height: 27%;
    margin-top: -10px;

    .box {
      background-color: pink;
      border: 4px solid rgb(255, 255, 255);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 47px;
      height: 47px;
      margin-top: 25px;
      margin-left: -8px;
      cursor: pointer;

      & > img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit:cover;
      }
    }

    .addBusiness {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 53px;
      margin-top: 35px;
      margin-left: 2px;
      cursor: pointer;
    }
  }
}
