@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Nanum+Gothic:wght@700&family=Noto+Sans+KR&family=Pacifico&display=swap');

.content-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

form {
  width: 100%;
}

.title {
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 34px;
  margin-top: -35px;
  margin-bottom: 30px;
}

.content {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  gap: 10px;

  .text-wrapper {
    width: 100%;
    div {
      width: 100%;
    }
  }

  .button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }
}

.signin-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
