.tab {
  cursor: pointer;
  color: gray;
}

.clickedTab {
  cursor: pointer;
  color: #2979ff;
  font-weight: 600;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}

.title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}

.textWrapper {
  width: 100%;
  div {
    width: 100%;
  }
}

.question {
  background: rgb(233, 238, 255);
  padding: 2%;
  width: 60%;
  border-radius: 8px;
  margin-bottom: 30px;
}

.successContainer {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  & > p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
    color: #539152;
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  gap: 10px;
}
