.title {
    border-collapse: collapse;
    border: 1px solid black;
    border-bottom: 0px;
  }

  .ownerData {
    border-collapse: collapse;
    border-right: 1px solid black;
    border-left: 1px solid black;

    .for {
      width: 15%;
      font-size: 16px;
    }
  }
  .owner {
    font-size: 16px;
    font-weight: bold;
    color: black;
  }

.sumDiv {
  border: 1px solid black;
  height: 30px;
  width: 100%;
  padding: 7px 0;
  color: #5f6fc2;
  display: flex;
}

.name {
  font-size: 16px;
  color: #353535;
  text-align: right;
}

.body {
  border: 1px solid black;

  & td {
    border: 1px solid black;
    padding: 4px;
  }

  & th {
    font-size: 14px;
    font-weight: bold;
    color: black;
    border: 1px solid black;
    padding: 4px;
  }
}

.item {
  font-size: 12px;
  padding-left: 15px;
}

.article {
  font-size: 12px;
  text-align: center;
}

.price {
  font-size: 12px;
  color: #4b4b4b;
  text-align: right;
  padding-right: 7px;
}

.sum {
  font-size: 12px;
  color: #4b4b4b;
  text-align: right;
  padding-right: 7px;
}

.date {
  font-size: 14px;
  font-weight: bold;
  color: #4b4b4b;
  text-align: center;
}

.total {
  font-size: 14px;
  color: black;
  text-align: left;
  padding-right: 7px;
  border: 2px solid black;
}

.businessNumber {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.lastSum {
  float: left;
  margin-left: 10px;
  color: black;
  align-self: center;
  height: 100%;
}

@page {
  margin: 3mm;
}


.closeBtn {
  border: none;
  background: transparent;
  padding-right: 0px;
  margin-top: -1px;
  padding-left: 0px;

  &:hover {
    background: rgb(250, 249, 255);
  }
}
