.container {
  width: 100%;

  .content {
    display: flex;

    &>div {
      flex-basis: 50%;
      height: 100vh;
      padding-top: 10px;
    }

    .searchInput {
      margin-top: 13px;
      padding-left: 10px;
      width: 75%;
      height: 35px;
      border-radius: 5px;
      border: 1px solid darkgray;
      opacity: 0.9;

      &::placeholder {
        font-style: italic;
      }
    }

    .userList {
      margin-top: 18px;
      margin-right: 10px;
      height: 85.5vh;
      background-color: rgb(232, 232, 232);
    }
  }
}


.infoContent {
  margin-top: 5px;
  position: relative;
  height: 96vh;

  .clearInput {
    float: right;
    margin-right: 10%;
    margin-top: 28px;
    padding: 3.5px 7px;
    font-size: 11px;
    font-weight: 500;
    border: 1px solid rgb(135, 135, 135);
    border-radius: 5px;
    color: rgb(56, 56, 56);
    background-color: rgb(238, 238, 238);
    cursor: pointer;

    &:hover {
      box-shadow: 0.5px 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .list {
    margin-top: 60px;

    .errorMessage {
      margin-right: 52px;
      margin-top: 5px;
      margin-bottom: 15px;
      display: flex;
      justify-content: right;
      font-size: 11.5px;
      color: crimson;
    }

    .infoMessage {
      margin-right: 52px;
      margin-top: 5px;
      margin-bottom: 15px;
      display: flex;
      justify-content: right;
      font-size: 11.5px;
      color: dimgray;
    }

    .error {
      display: flex;
      justify-content: center;
      font-size: 14px;
    }

    .itemWithError {
      justify-content: center;
      display: flex;
      align-items: center;
    }

    .item {
      justify-content: center;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }

    .labels {
      width: 30%;
      font-size: 15px;
      margin-top: 2px;
    }
  }
}

.dataInput {
  width: 50%;
  height: 33px;
  border-radius: 5px;
  border: 1px solid darkgray;
  opacity: 0.9;
  padding-left: 8px;
  font-size: 14px;
}

.hasError {
  width: 50%;
  height: 33px;
  border-radius: 5px;
  border: 1.5px solid darkgray;
  opacity: 0.9;
  padding-left: 8px;
  font-size: 14px;
  border-color: crimson;
  background-color: rgb(245, 211, 211);
}

.buttonList {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

button {
  position: static;
}

.dataRow {
  cursor: pointer;

  &:hover {
    background-color: rgb(215, 215, 215)
  }
}

.noResult {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%
}

.cutText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 30px;
}
