.discount {
  width: 150px;
  margin-bottom: 10px;
  padding-left: 40px;
  padding-right: 10px;
  height: 70px;
}

.dataInput {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid darkgray;
  opacity: 0.9;
  padding-left: 8px;
  font-size: 14px;
}

.updatedInput {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid transparent;
  opacity: 0.9;
  padding-left: 8px;
  font-size: 14px;
}
