.container {
  width: 100%;
}

.content {
  display: flex;
  height: 100%;
  gap: 10px;

  & > div {
    flex-basis: 50%;
    height: 100vh;
    padding: 20px 0;
  }
}

.item {
  display: flex;
  align-items: center;
}

.infoContent {
  position: relative;
  height: 100%;
  background: skyblue;
}

.buttonList {
  position: absolute;
  left: 30px;
  bottom: 20px;
}

button {
  position: static;
}
