.container {
  width: 100%;
  height: 100%;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;


    & > div {
      width: 70%;
      height: 100%;
    }
  }
}

.item {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 31.5px;
}

.error {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.itemWithError {
  justify-content: center;
  display: flex;
  align-items: center;
}

.labels {
  width: 30%;
  font-size: 15px;
  margin-top: 2px;
}

.dataInput {
  width: 60%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid darkgray;
  opacity: 0.9;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 15px;
}

.hasError {
  width: 50%;
  height: 33px;
  border-radius: 5px;
  border: 1.5px solid darkgray;
  opacity: 0.9;
  padding-left: 8px;
  font-size: 14px;
  border-color: crimson;
  background-color: rgb(245, 211, 211);
}

.buttonList {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.errorMessage {
  margin-right: 10%;
  margin-top: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: right;
  font-size: 11.5px;
  color: crimson;
}

